<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1436.vfa_244484591f">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2214.vb_b_34b_2ea_9b_83"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2214.vb_b_34b_2ea_9b_83">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>HostedZoneID</name>
          <description>The ID of the hosted zone you want to Create/Update/Delete records on</description>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>ACTION</name>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>Create Record</string>
              <string>Update Record</string>
              <string>Delete Record</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Name</name>
          <description>State the name of the record you want to Create/Update/Delete</description>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>Type</name>
          <description>Choose the Record type you want to Create/Update/Delete</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>A</string>
              <string>AAAA</string>
              <string>CNAME</string>
              <string>MX</string>
              <string>TXT</string>
              <string>PTR</string>
              <string>SRV</string>
              <string>NAPTR</string>
              <string>CAA </string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>TTL</name>
          <description>The amount of time, in seconds, that you want DNS recursive resolvers to cache information about this record</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>60</string>
              <string>300</string>
              <string>600</string>
              <string>3600</string>
              <string>86400</string>
              <string>172800</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Value</name>
          <description>Choose the value for your Record</description>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition" plugin="workflow-cps@3961.ve48ee2c44a_b_3">
    <scm class="hudson.plugins.git.GitSCM" plugin="git@5.4.1">
      <configVersion>2</configVersion>
      <userRemoteConfigs>
        <hudson.plugins.git.UserRemoteConfig>
          <url>https://github.com/itayshlanger/AWS_platform_engineering.git</url>
          <credentialsId>37aeb8af-b69b-4493-befb-47a0fb5d7390</credentialsId>
        </hudson.plugins.git.UserRemoteConfig>
      </userRemoteConfigs>
      <branches>
        <hudson.plugins.git.BranchSpec>
          <name>*/main</name>
        </hudson.plugins.git.BranchSpec>
      </branches>
      <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
      <submoduleCfg class="empty-list"/>
      <extensions/>
    </scm>
    <scriptPath>Records_Jenkinsfile</scriptPath>
    <lightweight>true</lightweight>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>